<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
   

    <!-- Login Form -->
    <form>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" required>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="user.password"required>      
      <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
      

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>

<router-outlet></router-outlet>


